
/* RockLee */
/* Credits: Deekman (http://deekman.cjb.net/)*/
  
.rocklee-level0 {
    width: 50px;
    height: 65px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/dist/RockLee2_transparent.gif");
    animation: rocklee-level0 1s steps(1) infinite;
}

@keyframes rocklee-level0 {
    0% {
        background-position-x: -3px;
        background-position-y: -20px;
    }
    100%{
        background-position-x: -53px;
        background-position-y: -20px;
    }
}

.rocklee-level1 {
    width: 50px;
    height: 65px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/dist/RockLee2_transparent.gif");
    animation: rocklee-level1 1s steps(1) infinite;
}

@keyframes rocklee-level1 {
    0% {
        background-position-x: -213px;
        background-position-y: -20px;
    }
    20% {
        background-position-x: -258px;
        background-position-y: -20px;
    }
    40% {
        background-position-x: -303px;
        background-position-y: -20px;
    }
    
    60% {
        background-position-x: -353px;
        background-position-y: -20px;
    }
    
    80% {
        background-position-x: -393px;
        background-position-y: -20px;
    }
    
    100%{
        background-position-x: -543px;
        background-position-y: -20px;
    } 
}

.rocklee-level2 {
    width: 30px;
    height: 58px;
    /* background-image: url("./images/RockLee2_transparent.gif"); */
    background-image: url("chrome-extension://__MSG_@@extension_id__/dist/RockLee2_transparent.gif");
    animation: rocklee-level2 0.8s steps(1) infinite;
}

@keyframes rocklee-level2 {
    0% {
        background-position-x: -3px;
        background-position-y: -100px;
    }
    10% {
        width: 40px;
        background-position-x: -33px;
        background-position-y: -100px;
    }
    20% {
        width: 50px;
        background-position-x: -73px;
        background-position-y: -100px;
    }
    30% {
        background-position-x: -118px;
        background-position-y: -100px;
    }
    40% {
        width: 60px;
        background-position-x: -168px;
        background-position-y: -100px;
    }
    50% {
        background-position-x: -228px;
        background-position-y: -100px;
    }
    60% {
        background-position-x: -278px;
        background-position-y: -100px;
    }
    70% {
        background-position-x: -330px;
        background-position-y: -100px;
    }
    80% {
        background-position-x: -390px;
        background-position-y: -100px;
    }
    90% {
        background-position-x: -450px;
        background-position-y: -100px;
    }
}


.rocklee-level3 {
    width: 58px;
    height: 60px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/dist/RockLee2_transparent.gif");
    animation: rocklee-level3 2s steps(1) infinite;
}

@keyframes rocklee-level3 {
    0% {
        background-position-x: -5px;
        background-position-y: -310px;
    }
    6% {
        background-position-x: -55px;
        background-position-y: -310px;
    }
    6% {
        background-position-x: -118px;
        background-position-y: -310px;
    }
    10% {
        background-position-x: -183px;
        background-position-y: -310px;
    }
    18% {
        background-position-x: -238px;
        background-position-y: -310px;
    }
    24% {
        background-position-x: -295px;
        background-position-y: -310px;
    }
    30% {
        background-position-x: -360px;
        background-position-y: -310px;
    }
    36% {
        background-position-x: -415px;
        background-position-y: -310px;
    }
    42% {
        width: 50px;
        background-position-x: -0px;
        background-position-y: -370px;
    }
    48% {
        width: 57px;
        background-position-x: -41px;
        background-position-y: -370px;
    }
    54% {
        width: 60px;
        background-position-x: -95px;
        background-position-y: -370px;
    }
    60% {
        width: 68px;
        background-position-x: -155px;
        background-position-y: -370px;
    }
    66% {
        background-position-x: -223px;
        background-position-y: -370px;
    }
    90% {
        background-position-x: -291px;
        background-position-y: -370px;
    }
}

.rocklee-level4 {
    width: 60px;
    height: 65px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/dist/RockLee3_transparent.png");
    animation: rocklee-level4 1.3s steps(1) infinite;
}
@keyframes rocklee-level4 {
    0% {
        background-position: 0px;
    }
    25% {
        background-position: -50px; 
    }
    37.5% {
        background-position: -110px; 
    }
    50% {
        background-position: -170px; 
    }
    62.5% {
        background-position: -240px; 
    }
    75% {
        background-position: -300px; 
    }
    78% {
        background-position: -347px; 
    }
    83% {
        background-position: -400px; 
    }
}

.rocklee-level5 {
    width: 58px;
    height: 80px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/dist/RockLee2_transparent.gif");
    animation: rocklee-level5 2s steps(1) infinite;
}

@keyframes rocklee-level5 {
    0% {
        background-position-x: -5px;
        background-position-y: -890px;
    }
    3% {
        background-position-x: -53px;
        background-position-y: -890px;
    }
    6% {
        background-position-x: -97px;
        background-position-y: -890px;
    }
    9% {
        width: 57px;
        background-position-x: -140px;
        background-position-y: -890px;
    }
    12% {
        width: 50px;
        background-position-x: -190px;
        background-position-y: -890px;
    }
    15% {
        background-position-x: -230px;
        background-position-y: -890px;
    }
    18% {
        width: 48px;
        background-position-x: -271px;
        background-position-y: -890px;
    }
    21% {
        background-position-x: -312px;
        background-position-y: -890px;
    }
    24% {
        background-position-x: -352px;
        background-position-y: -890px;
    }
    27% {
        width: 47px;
        background-position-x: -394px;
        background-position-y: -890px;
    }
    30% {
        background-position-x: -432px;
        background-position-y: -890px;
    }
    33% {
        width: 50px;
        background-position-x: -470px;
        background-position-y: -890px;
    }
    36% {
        width: 53px;
        background-position-x: -523px;
        background-position-y: -890px;
    } 
    39% {
        background-position-x: -573px;
        background-position-y: -890px;
    } 
    42% {
        background-position-x: -618px;
        background-position-y: -890px;
    } 
    45% {
        background-position-x: -8px;
        background-position-y: -965px;
    } 
    48% {
        background-position-x: -51px;
        background-position-y: -965px;
    } 
    51% {
        background-position-x: -98px;
        background-position-y: -965px;
    } 
    54% {
        background-position-x: -150px;
        background-position-y: -965px;
    } 
    57% {
        background-position-x: -200px;
        background-position-y: -965px;
    } 
    60% {
        background-position-x: -250px;
        background-position-y: -965px;
    } 
    63% {
        background-position-x: -300px;
        background-position-y: -965px;
    } 
    66% {
        background-position-x: -350px;
        background-position-y: -965px;
    } 
    69% {
        width:67px;
        background-position-x: -405px;
        background-position-y: -965px;
    } 
    72% {
        width:74px;
        background-position-x: -480px;
        background-position-y: -965px;
    } 
    75% {
        height:78px;
        background-position-x: -20px;
        background-position-y: -1042px
    } 
    78% {
        background-position-x: -92px;
        background-position-y: -1042px
    } 
    80% {
        width:79px;
        background-position-x: -175px;
        background-position-y: -1042px
    } 
    90% {
        width:58px;
        background-position-x: -238px;
        background-position-y: -1042px
    } 
    94% {
        width:48px;
        background-position-x: -288px;
        background-position-y: -1042px
    }  
    97% {
        width:80px;
        background-position-x: -326px;
        background-position-y: -1042px
    } 
}


.rocklee-level6 {
    width: 58px;
    height: 80px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/dist/RockLee2_transparent.gif");
    animation: rocklee-level6 4s steps(1) infinite;
}

@keyframes rocklee-level6 {
    0% {
        background-position-x:-0px;
        background-position-y: -1140px;
    }
    1.5% {
        width:55px;
        background-position-x:-48px;
        background-position-y: -1140px;
    }
    3% {
        background-position-x:-98px;
        background-position-y: -1140px;
    } 
    4.5% {
        background-position-x:-148px;
        background-position-y: -1140px;
    }
    6% {
        background-position-x:-204px;
        background-position-y: -1140px;
    }
    7.5% {
        background-position-x:-258px;
        background-position-y: -1142px;
    }
    9% {
        background-position-x:-310px;
        background-position-y: -1142px;
    }
    10.5% {
        background-position-x:-362px;
        background-position-y: -1142px;
    }
    12% {
        background-position-x:-406px;
        background-position-y: -1142px;
    }
    13.5% {
        background-position-x:-455px;
        background-position-y: -1142px;
    }
    15% {
        width:70px;
        background-position-x:-505px;
        background-position-y: -1142px;
    }
    16.5% {
        background-position-x:-565px;
        background-position-y: -1142px;
    }
    18% {
        width:90px;
        background-position-x:-0px;
        background-position-y: -1232px;
    }
    19.5% {
        background-position-x:-80px;
        background-position-y: -1232px;
    } 
    21% {
        background-position-x:-170px;
        background-position-y: -1232px;
    } 
    22.5% {
        background-position-x:-260px;
        background-position-y: -1232px;
    } 
    24% {
        width:50px;
        background-position-x:-350px;
        background-position-y: -1232px;
    } 
    25.5% {
        width:60px;
        background-position-x:-400px;
        background-position-y: -1232px;
    } 
    27% {
        height:70px;
        background-position-x:-460px;
        background-position-y: -1232px;
    } 
    28.5% {
        background-position-x:-530px;
        background-position-y: -1232px;
    } 
    30% {
        height:75px;
        background-position-x:-595px;
        background-position-y: -1232px;
    } 
    31.5% {
        width: 90px;
        background-position-x:-0px;
        background-position-y: -1312px;
    } 
    33% {
        background-position-x:-90px;
        background-position-y: -1312px;
    } 
    34.5% {
        background-position-x:-180px;
        background-position-y: -1312px;
    } 
    36% {
        height:70px;
        background-position-x:-270px;
        background-position-y: -1312px;
    } 
    37.5% {
        height:70px;
        background-position-x:-367px;
        background-position-y: -1312px;
    } 
    46% {
        margin-left: 27px;
        width: 40px;
        height:70px;
        background-position-x:-457px;
        background-position-y: -1312px;
    } 
    47.5% {
        height:80px;
        background-position-x:-507px;
        background-position-y: -1292px;
    } 
    49% {
        width: 40px;
        height:90px;
        background-position-x:-507px;
        background-position-y: -1292px;
    }  
    51.5% {
        background-position-x:-547px;
        background-position-y: -1292px;
    }  
    53% {
        background-position-x:-587px;
        background-position-y: -1292px;
    }  
    54.5% {
        background-position-x:-627px;
        background-position-y: -1292px;
    }  
    57% {
        width: 80px;
        background-position-x:-0px;
        background-position-y: -1382px;
    }  
    58.5% {
        width: 75px;
        background-position-x:-80px;
        background-position-y: -1382px;
    } 
    60% {
        height:88px;
        background-position-x:-145px;
        background-position-y: -1382px;
    } 
    61.5% {
        background-position-x:-220px;
        background-position-y: -1382px;
    } 
    63% {
        width: 55px;
        height:80px;
        background-position-x:-290px;
        background-position-y: -1382px;
    }
    64.5% {
        background-position-x:-340px;
        background-position-y: -1382px;
    }
    66% {
        background-position-x:-390px;
        background-position-y: -1382px;
    }
    67.5% {
        background-position-x:-435px;
        background-position-y: -1382px;
    }
    69% {
        background-position-x:-480px;
        background-position-y: -1382px;
    }
    71% {
        background-position-x:-0px;
        background-position-y: -1462px;
    }
    72.5% {
        background-position-x:-55px;
        background-position-y: -1462px;
    }
    74% {
        background-position-x:-110px;
        background-position-y: -1462px;
    }
    75.5% {
        width: 75px;
        height:80px;
        background-position-x:-165px;
        background-position-y: -1462px;
    }
    77% {
        background-position-x:-230px;
        background-position-y: -1462px;
    }
    78.5% {
        background-position-x:-295px;
        background-position-y: -1462px;
    }
    80% {
        width: 55px;
        background-position-x:-360px;
        background-position-y: -1462px;
    }
    81.5% {
        width: 75px;
        background-position-x:-415px;
        background-position-y: -1462px;
    }
    83% {
        width: 65px;
        background-position-x:-480px;
        background-position-y: -1462px;
    }
    84.5% {
        background-position-x:-540px;
        background-position-y: -1462px;
    }
    86% {
        background-position-x:-600px;
        background-position-y: -1462px;
    }
    87.5% {
        background-position-x:-0px;
        background-position-y: -1542px;
    }
    89% {
        width: 50px;
        margin-top: 25px;
        background-position-x:-62px;
        background-position-y: -1542px;
    }
    91.5% {
        margin-top: 25px;
        background-position-x: -102px;
        background-position-y: -1542px;
    }
    94% {
        height:60px;
        margin-top: 25px;
        background-position-x: -155px;
        background-position-y: -1542px;
    }
}

.rocklee-level7 {
    width: 48px;
    height: 80px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/dist/RockLee2_transparent.gif");
    animation: rocklee-level7 10s steps(1) infinite;
}
@keyframes rocklee-level7 {
    0% {
        background-position-x:-0px;
        background-position-y: -1635px;
    }
    1% {
        background-position-x:-40px;
        background-position-y: -1635px;
    }
    2% {
        background-position-x:-80px;
        background-position-y: -1635px;
    }
    3% {
        background-position-x:-120px;
        background-position-y: -1635px;
    }
    4% {
        background-position-x:-161px;
        background-position-y: -1635px;
    }
    5% {
        background-position-x:-203px;
        background-position-y: -1635px;
    }
    6% {
        background-position-x:-246px;
        background-position-y: -1635px;
    }
    7% {
        background-position-x:-288px;
        background-position-y: -1635px;
    }
    8% {
        background-position-x:-330px;
        background-position-y: -1635px;
    }
    9% {
        background-position-x:-373px;
        background-position-y: -1635px;
    }
    10% {
        background-position-x:-416px;
        background-position-y: -1635px;
    }
    11% {
        width:49px;
        background-position-x:-459px;
        background-position-y: -1635px;
    }
    12% {
        background-position-x:-500px;
        background-position-y: -1635px;
    }
    13% {
        background-position-x:-560px;
        background-position-y: -1635px;
    }
    14% {
        background-position-x:-625px;
        background-position-y: -1635px;
    }
    15% {
        width:60px;
        background-position-x:-0px;
        background-position-y: -1710px;
    }
    16% {
        background-position-x:-65px;
        background-position-y: -1710px;
    }
    17% {
        background-position-x:-130px;
        background-position-y: -1710px;
    }
    18% {
        background-position-x:-205px;
        background-position-y: -1710px;
    }
    19% {
        background-position-x:-260px;
        background-position-y: -1710px;
    }
    20% {
        background-position-x:-305px;
        background-position-y: -1715px;
    }
    21% {
        background-position-x:-353px;
        background-position-y: -1715px;
    }
    22% {
        background-position-x:-403px;
        background-position-y: -1715px;
    }
    23% {
        background-position-x:-443px;
        background-position-y: -1715px;
    }
    
    24% {
        width:50px;
        background-position-x:-493px;
        background-position-y: -1715px;
    }
    25% {
        background-position-x:-533px;
        background-position-y: -1715px;
    }
    
    26% {
        background-position-x:-573px;
        background-position-y: -1715px;
    }
    27% {
        background-position-x:-613px;
        background-position-y: -1715px;
    }
    28% {
        background-position-x:-145px;
        background-position-y: -1859px;
    }
    29% {
        background-position-x:-191px;
        background-position-y: -1859px;
    } 
    30% {
        background-position-x:-240px;
        background-position-y: -1859px;
    }
    31% {
        background-position-x:-294px;
        background-position-y: -1859px;
    }
    32% {
        background-position-x:-344px;
        background-position-y: -1859px;
    }
    33% {
        width:55px;
        background-position-x:-394px;
        background-position-y: -1859px;
    }
    34% {
        background-position-x:-444px;
        background-position-y: -1859px;
    }
    35% {
        background-position-x:-504px;
        background-position-y: -1859px;
    }
    36% {
        background-position-x:-564px;
        background-position-y: -1859px;
    }
    37% {
        width:64px;
        background-position-x:-0px;
        background-position-y: -1939px;
    }
    38% {
        background-position-x:-65px;
        background-position-y: -1939px;
    }
    39% {
        background-position-x:-129px;
        background-position-y: -1939px;
    }
    40% {
        background-position-x:-193px;
        background-position-y: -1939px;
    }
    41% {
        background-position-x:-257px;
        background-position-y: -1939px;
    }
    42% {
        background-position-x:-323px;
        background-position-y: -1939px;
    }
    43% {
        background-position-x:-384px;
        background-position-y: -1939px;
    }
    44% {
        background-position-x:-444px;
        background-position-y: -1939px;
    }
    45% {
        background-position-x:-494px;
        background-position-y: -1939px;
    }
    46% {
        background-position-x:-550px;
        background-position-y: -1939px;
    }
    47% {
        background-position-x:-605px;
        background-position-y: -1939px;
    }
    48% {
        width:50px;
        background-position-x:-335px;
        background-position-y: -2093px;
    }
    49% {
        background-position-x:-385px;
        background-position-y: -2093px;
    }
    50% {
        width:65px;
        background-position-x:-445px;
        background-position-y: -2093px;
    }
    51% {
        background-position-x:-510px;
        background-position-y: -2093px;
    }
    52% {
        width:80px;
        height:50px;
        background-position-x:-575px;
        background-position-y: -2093px;
    }
    53% {
        background-position-x:-5px;
        background-position-y: -2173px;
    }
    54% {
        background-position-x:-85px;
        background-position-y: -2173px;
    }
    55% {
        width:58px;
        height:70px;
        background-position-x:-170px;
        background-position-y: -2173px;
    }
    56% {
        width:40px;
        background-position-x:-217px;
        background-position-y: -2173px;
    }
    57% {
        background-position-x:-257px;
        background-position-y: -2173px;
    }
    58% {
        background-position-x:-317px;
        background-position-y: -2173px;
    }
    59% {
        background-position-x:-357px;
        background-position-y: -2173px;
    }
    60% {
        width:50px;
        background-position-x:-410px;
        background-position-y: -2173px;
    }
    61% {
        background-position-x:-460px;
        background-position-y: -2173px;
    }
    62% {
        background-position-x:-510px;
        background-position-y: -2173px;
    }
    63% {
        width:60px;
        height: 100px;
        background-position-x:-560px;
        background-position-y: -2163px;
    }
    64% {
        background-position-x:-620px;
        background-position-y: -2163px;
    }
    65% {
        width:120px;
        background-position-x:-0px;
        background-position-y: -2233px;
    }
    66% {
        width:160px;
        background-position-x:-130px;
        background-position-y: -2237px;
    }
    67% {
        width:220px;
        background-position-x:-290px;
        background-position-y: -2237px;
    }
    68% {
        width:60px;
        background-position-x:-510px;
        background-position-y: -2237px;
    }
    69% {
        width:80px;
        background-position-x:-570px;
        background-position-y: -2237px;
    }
    70% {
        width:130px;
        background-position-x:-0px;
        background-position-y: -2337px;
    }
    71% {
        width:70px;
        background-position-x:-130px;
        background-position-y: -2337px;
    }
    72% {
        width:64px;
        background-position-x:-189px;
        background-position-y: -2337px;
    }
    73% {
        background-position-x:-245px;
        background-position-y: -2337px;
    }
    74% {
        width:40px;
        background-position-x:-305px;
        background-position-y: -2337px;
    }
    75% {
        width:20px;
        margin-left:20px;
        background-position-x:-345px;
        background-position-y: -2337px;
    }
    76% {
        margin-left:20px;
        background-position-x:-365px;
        background-position-y: -2337px;
    }
    77% {
        width:50px;
        background-position-x:-395px;
        background-position-y: -2337px;
    }
    
    78% {
        background-position-x:-438px;
        background-position-y: -2337px;
    }
    79% {
        background-position-x:-484px;
        background-position-y: -2337px;
    }
    80% {
        background-position-x:-528px;
        background-position-y: -2337px;
    }
    
    81% {
        background-position-x:-572px;
        background-position-y: -2337px;
    }
    82% {
        background-position-x:-618px;
        background-position-y: -2337px;
    }
    87% {
        width:65px;
        background-position-x:-0px;
        background-position-y: -2417px;
    }
    89% {
        background-position-x:-60px;
        background-position-y: -2417px;
    }
    91% {
        width:62px;
        background-position-x:-118px;
        background-position-y: -2419px;
    }
    93% {
        width:62px;
        background-position-x:-180px;
        background-position-y: -2419px;
    }
}



/* re-written to .rocklee-level1~7. therefore commented
.rocklee-level-1 {
    width: 58px;
    height: 60px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/dist/RockLee2_transparent.gif");
    animation: rocklee-level-1 1s steps(1) infinite;
}
@keyframes rocklee-level-1 {
    0% {
        background-position-x:-0px;
        background-position-y: -2530px;
    }
    50% {
        background-position-x:-60px;
        background-position-y: -2530px;
    }
}

.rocklee-level-2 {
    width: 58px;
    height: 60px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/dist/RockLee2_transparent.gif");
    animation: rocklee-level-2 1s steps(1) infinite;
}
@keyframes rocklee-level-2 {
    0% {
        background-position-x:-0px;
        background-position-y: -2530px;
    }
    25% {
        background-position-x:-60px;
        background-position-y: -2530px;
    }
    50% {
        background-position-x:-120px;
        background-position-y: -2530px;
    }
}

.rocklee-level-3 {
    width: 58px;
    height: 60px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/dist/RockLee2_transparent.gif");
    animation: rocklee-level-3 3s steps(1) infinite;
}
@keyframes rocklee-level-3 {
    0% {
        background-position-x:-0px;
        background-position-y: -2530px;
    }
    9% {
        background-position-x:-60px;
        background-position-y: -2530px;
    }
    18% {
        background-position-x:-120px;
        background-position-y: -2530px;
    }
    27% {
        width: 75px;
        background-position-x:-177px;
        background-position-y: -2530px;
    }
    36% {
        background-position-x:-250px;
        background-position-y: -2530px;
    }
    45% {
        width: 84px;
        background-position-x:-330px;
        background-position-y: -2530px;
    }
    54% {
        width: 83px;
        background-position-x:-410px;
        background-position-y: -2530px;
    }
    63% {
        background-position-x:-490px;
        background-position-y: -2530px;
    }
    72% {
        background-position-x:-573px;
        background-position-y: -2530px;
    }
    80% {
        height:60px;
        background-position-x:-0px;
        background-position-y: -2585px;
    }
}

.rocklee-level-4 {
    width: 58px;
    height: 60px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/dist/RockLee2_transparent.gif");
    animation: rocklee-level-4 3s steps(1) infinite;
}
@keyframes rocklee-level-4 {
    0% {
        background-position-x:-340px;
        background-position-y: -2585px;
    }
}
*/

.sasuke-level0 {
    width: 50px;
    height: 65px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/dist/sasuke.png");
    /* background-image: url("../images//spreadsheets/sasuke.png"); */
    animation: sasuke-level0 1s steps(1) infinite;
}

@keyframes sasuke-level0 {
    0% {
        background-position-x: -3px;
        background-position-y: -20px;
    }
    100%{
        background-position-x: -53px;
        background-position-y: -20px;
    }
}

.sasuke-level1 {
    width: 42px;
    height: 65px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/dist/sasuke.png");
    /* background-image: url("../images//spreadsheets/sasuke.png"); */
    animation: sasuke-level1 1s steps(1) infinite;
}

@keyframes sasuke-level1 {
    0% {
        background-position-x: -212px;
        background-position-y: -20px;
    }
    20% {
        background-position-x: -258px;
        background-position-y: -20px;
    }
    40% {
        background-position-x: -298px;
        background-position-y: -20px;
    }
    
    60% {
        background-position-x: -338px;
        background-position-y: -20px;
    }
    
    80% {
        background-position-x: -378px;
        background-position-y: -20px;
    }
    
    100%{
        background-position-x: -418px;
        background-position-y: -20px;
    } 
}

.sasuke-level2 {
    width: 50px;
    height: 65px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/dist/sasuke.png");
    /* background-image: url("../images//spreadsheets/sasuke.png"); */
    animation: sasuke-level2 0.5s steps(1) infinite;
}

@keyframes sasuke-level2 {
    0% {
        background-position-x: -3px;
        background-position-y: -220px;
    }
    20% {
        width: 58px;
        background-position-x: -53px;
        background-position-y: -225px;
    }
    40% {
        width: 45px;
        background-position-x: -113px;
        background-position-y: -225px;
    }
    
    60% {
        width: 52px;
        background-position-x: -163px;
        background-position-y: -225px;
    }
    
    80% {
        width: 52px;
        background-position-x: -215px;
        background-position-y: -225px;
    }
    
    100%{
        background-position-x: -267px;
        background-position-y: -225px;
    }
}


.sasuke-level3 {
    width: 58px;
    height: 65px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/dist/sasuke.png");
    /* background-image: url("../images//spreadsheets/sasuke.png"); */
    animation: sasuke-level3 1s steps(1) infinite;
}

@keyframes sasuke-level3 {
    0% {
        background-position-x: -3px;
        background-position-y: -610px;
    }
    10% {
        width: 58px;
        background-position-x: -53px;
        background-position-y: -610px;
    }
    20% {
        background-position-x: -105px;
        background-position-y: -610px;
    }
    30% {
        background-position-x: -163px;
        background-position-y: -610px;
    }
    40% {
        width: 75px;
        background-position-x: -225px;
        background-position-y: -610px;
    }
    50% {
        width: 80px;
        background-position-x: -300px;
        background-position-y: -610px;
    }
    60% {
        width: 58px;
        background-position-x: -0px;
        background-position-y: -675px;
    }
    70% {
        width: 75px;
        background-position-x: -75px;
        background-position-y: -675px;
    }
    80% {
        width: 75px;
        background-position-x: -150px;
        background-position-y: -675px;
    }
    90% {
        width: 75px;
        background-position-x: -225px;
        background-position-y: -675px;
    }
    100% {
        width: 75px;
        background-position-x: -300px;
        background-position-y: -675px;
    }
}

.sasuke-level4 {
    width: 58px;
    height: 65px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/dist/sasuke.png");
    /* background-image: url("../images//spreadsheets/sasuke.png"); */
    animation: sasuke-level4 1s steps(1) infinite;
}

@keyframes sasuke-level4 {
    0% {
        background-position-x: -3px;
        background-position-y: -440px;
    }
    10% {
        width: 58px;
        background-position-x: -61px;
        background-position-y: -440px;
    }
    20% {
        width: 58px;
        background-position-x: -123px;
        background-position-y: -440px;
    }
    30% {
        width: 58px;
        background-position-x: -185px;
        background-position-y: -440px;
    }
    40% {
        width: 58px;
        background-position-x: -247px;
        background-position-y: -440px;
    }
    50% {
        width: 58px;
        background-position-x: -309px;
        background-position-y: -440px;
    }
}

.sasuke-level5 {
    width: 65px;
    height: 65px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/dist/sasuke.png");
    /* background-image: url("../images//spreadsheets/sasuke.png"); */
    animation: sasuke-level5 1s steps(1) infinite;
}

@keyframes sasuke-level5 {
    0% {
        background-position-x: -5px;
        background-position-y: -840px;
    }
    10% {
        width: 58px;
        background-position-x: -65px;
        background-position-y: -840px;
    }
    20% {
        width: 58px;
        background-position-x: -130px;
        background-position-y: -840px;
    }
    30% {
        width: 58px;
        background-position-x: -195px;
        background-position-y: -840px;
    }
    40% {
        width: 55px;
        background-position-x: -245px;
        background-position-y: -840px;
    }
    50% {
        width: 55px;
        background-position-x: -300px;
        background-position-y: -840px;
    }
    60% {
        width: 30px;
        background-position-x: -415px;
        background-position-y: -840px;
    }
    70% {
        width: 40px;
        background-position-x: -448px;
        background-position-y: -840px;
    }
}


.sasuke-level6 {
    width: 65px;
    height: 65px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/dist/sasuke.png");
    /* background-image: url("../images//spreadsheets/sasuke.png"); */
    animation: sasuke-level6 3s steps(1) infinite;
}

@keyframes sasuke-level6 {
    0% {
        background-position-x: -3px;
        background-position-y: -610px;
    }
    3% {
        width: 58px;
        background-position-x: -53px;
        background-position-y: -610px;
    }
    6% {
        background-position-x: -105px;
        background-position-y: -610px;
    }
    9% {
        background-position-x: -163px;
        background-position-y: -610px;
    }
    12% {
        width: 75px;
        background-position-x: -225px;
        background-position-y: -610px;
    }
    15% {
        width: 80px;
        background-position-x: -300px;
        background-position-y: -610px;
    }
    18% {
        width: 80px;
        background-position-x: -0px;
        background-position-y: -1005px;
    }
    30% {
        width: 80px;
        background-position-x: -0px;
        background-position-y: -1005px;
    }
    33% {
        width: 60px;
        background-position-x: -70px;
        background-position-y: -1005px;
    }
    36% {
        width: 60px;
        background-position-x: -120px;
        background-position-y: -1005px;
    }
    39% {
        width: 60px;
        background-position-x: -170px;
        background-position-y: -1005px;
    }
    42% {
        width: 60px;
        background-position-x: -230px;
        background-position-y: -1005px;
    }
    45% {
        width: 60px;
        background-position-x: -290px;
        background-position-y: -1005px;
    }
    48% {
        width: 60px;
        background-position-x: -350px;
        background-position-y: -1005px;
    }
    51% {
        width: 60px;
        background-position-x: -400px;
        background-position-y: -1005px;
    }
    54% {
        width: 60px;
        background-position-x: -460px;
        background-position-y: -1005px;
    }
    57% {
        width: 60px;
        background-position-x: -520px;
        background-position-y: -1005px;
    }
    60% {
        width: 60px;
        background-position-x: -580px;
        background-position-y: -1005px;
    }
    63% {
        width: 60px;
        background-position-x: -635px;
        background-position-y: -1005px;
    }
    66% {
        width: 60px;
        background-position-x: -690px;
        background-position-y: -1005px;
    }
    69% {
        width: 60px;
        background-position-x: -0px;
        background-position-y: -1085px;
    }
    72% {
        width: 60px;
        background-position-x: -58px;
        background-position-y: -1085px;
    }
    75% {
        width: 60px;
        background-position-x: -110px;
        background-position-y: -1085px;
    }
    78% {
        width: 60px;
        height: 100px;
        background-position-x: -158px;
        background-position-y: -1070px;
    }
    81% {
        width: 60px;
        height: 100px;
        background-position-x: -208px;
        background-position-y: -1070px;
    }
    84% {
        width: 60px;
        height: 100px;
        background-position-x: -260px;
        background-position-y: -1070px;
    }
}


.sasuke-level7 {
    width: 65px;
    height: 65px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/dist/sasuke.png");
    /* background-image: url("../images//spreadsheets/sasuke.png"); */
    animation: sasuke-level7 5s steps(1) infinite;
}

@keyframes sasuke-level7 {
    0% {
        width: 250px;
        height: 90px;
        background-position-x: -0px;
        background-position-y: -1650px;
    }
    3% {
        width: 250px;
        height: 90px;
        background-position-x: -250px;
        background-position-y: -1660px;
    }
    6% {
        width: 250px;
        height: 90px;
        background-position-x: -500px;
        background-position-y: -1660px;
    }
    10% {
        width: 58px;
        height: 65px;
        background-position-x: -0px;
        background-position-y: -1260px;
    }
    32% {
        width: 53px;
        height: 65px;
        background-position-x: -48px;
        background-position-y: -1260px;
    }
    34% {
        width: 53px;
        height: 65px;
        background-position-x: -96px;
        background-position-y: -1260px;
    }
    36% {
        width: 44px;
        height: 60px;
        background-position-x: -155px;
        background-position-y: -1270px;
    }
    38% {
        width: 44px;
        height: 60px;
        background-position-x: -214px;
        background-position-y: -1270px;
    }
    40% {
        width: 44px;
        height: 60px;
        background-position-x: -273px;
        background-position-y: -1270px;
    }
    42% {
        width: 48px;
        height: 60px;
        background-position-x: -317px;
        background-position-y: -1270px;
    }
    44% {
        width: 48px;
        height: 60px;
        background-position-x: -361px;
        background-position-y: -1270px;
    }
    46% {
        width: 48px;
        height: 60px;
        background-position-x: -415px;
        background-position-y: -1273px;
    }
    48% {
        width: 55px;
        height: 60px;
        background-position-x: -575px;
        background-position-y: -1273px;
    }
    50% {
        width: 65px;
        height: 60px;
        background-position-x: -630px;
        background-position-y: -1273px;
    }
    52% {
        width: 65px;
        height: 60px;
        background-position-x: -0px;
        background-position-y: -1367px;
    }
    54% {
        width: 73px;
        height: 60px;
        background-position-x: -65px;
        background-position-y: -1367px;
    }
    56% {
        width: 80px;
        height: 60px;
        background-position-x: -145px;
        background-position-y: -1367px;
    }
    58% {
        width: 40px;
        height: 60px;
        background-position-x: -235px;
        background-position-y: -1367px;
    }
    60% {
        width: 80px;
        height: 60px;
        background-position-x: -300px;
        background-position-y: -1367px;
    }
    62% {
        width: 80px;
        height: 60px;
        background-position-x: -380px;
        background-position-y: -1367px;
    }
    64% {
        width: 80px;
        height: 60px;
        background-position-x: -460px;
        background-position-y: -1367px;
    }
    66% {
        width: 100px;
        height: 60px;
        background-position-x: -0px;
        background-position-y: -1447px;
    }
    68% {
        width: 100px;
        height: 60px;
        background-position-x: -100px;
        background-position-y: -1447px;
    }
    70% {
        width: 110px;
        height: 60px;
        background-position-x: -200px;
        background-position-y: -1447px;
    }
    72% {
        width: 110px;
        height: 60px;
        background-position-x: -310px;
        background-position-y: -1447px;
    }
    74% {
        width: 110px;
        height: 60px;
        background-position-x: -420px;
        background-position-y: -1447px;
    }
    76% {
        width: 100px;
        height: 60px;
        background-position-x: -515px;
        background-position-y: -1447px;
    }
    78% {
        width: 65px;
        height: 60px;
        background-position-x: -625px;
        background-position-y: -1447px;
    }
    80% {
        width: 65px;
        height: 60px;
        background-position-x: -690px;
        background-position-y: -1447px;
    }
}